# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [14]:
import pandas as pd
import numpy as np

In [15]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [16]:
print(black_friday.head(1))

   User_ID Product_ID Gender   Age  Occupation City_Category  \
0  1000001  P00069042      F  0-17          10             A

  Stay_In_Current_City_Years  Marital_Status  Product_Category_1  \
0                          2               0                   3

   Product_Category_2  Product_Category_3  Purchase
0                 NaN                 NaN      8370

In [17]:
print(black_friday.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     537577 non-null  int64
 1   Product_ID                  537577 non-null  object
 2   Gender                      537577 non-null  object
 3   Age                         537577 non-null  object
 4   Occupation                  537577 non-null  int64
 5   City_Category               537577 non-null  object
 6   Stay_In_Current_City_Years  537577 non-null  object
 7   Marital_Status              537577 non-null  int64
 8   Product_Category_1          537577 non-null  int64
 9   Product_Category_2          370591 non-null  float64
 10  Product_Category_3          164278 non-null  float64
 11  Purchase                    537577 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 39.0+ MB
None

In [18]:
print(black_friday.describe())

            User_ID    Occupation  Marital_Status  Product_Category_1  \
count  5.375770e+05  537577.00000   537577.000000       537577.000000
mean   1.002992e+06       8.08271        0.408797            5.295546
std    1.714393e+03       6.52412        0.491612            3.750701
min    1.000001e+06       0.00000        0.000000            1.000000
25%    1.001495e+06       2.00000        0.000000            1.000000
50%    1.003031e+06       7.00000        0.000000            5.000000
75%    1.004417e+06      14.00000        1.000000            8.000000
max    1.006040e+06      20.00000        1.000000           18.000000

       Product_Category_2  Product_Category_3       Purchase
count       370591.000000       164278.000000  537577.000000
mean             9.842144           12.669840    9333.859853
std              5.087259            4.124341    4981.022133
min              2.000000            3.000000     185.000000
25%              5.000000            9.000000    5866.000000
50%              9.000000           14.000000    8062.000000
75%             15.000000           16.000000   12073.000000
max             18.000000           18.000000   23961.000000

In [19]:
# 1 - Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

print(black_friday.shape)

(537577, 12)

In [20]:
# 2 - Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.
print(len(black_friday.query('Age == "26-35" & Gender == "F"')))

49348

In [21]:
# 3 - Quantos usuários únicos há no dataset? Responda como um único escalar.
print(len(black_friday.groupby('User_ID')['User_ID']))

5891

In [22]:
# 4 - Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.
print(black_friday.dtypes)
print(len(black_friday.dtypes.value_counts()))

User_ID                         int64
Product_ID                     object
Gender                         object
Age                            object
Occupation                      int64
City_Category                  object
Stay_In_Current_City_Years     object
Marital_Status                  int64
Product_Category_1              int64
Product_Category_2            float64
Product_Category_3            float64
Purchase                        int64
dtype: object
3

In [23]:
# 5 - Qual porcentagem dos registros possui ao menos um valor null ? Responda como um único escalar entre 0 e 1.
print((black_friday.shape[0] - black_friday.dropna().shape[0]) / black_friday.shape[0])

0.6944102891306734

In [24]:
# 6 - Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.
print(black_friday.isnull().sum().max())

373299

In [25]:
# 7 - Qual o valor mais frequente (sem contar nulls) em Product_Category_3? Responda como um único escalar.
print(int(black_friday['Product_Category_3'].mode()))

16

In [26]:
# 8 - Qual a nova média da variável (coluna) Purchase após sua normalização? Responda como um único escalar.
normalized = black_friday[['Purchase']]
normalized_df = (normalized - normalized.min()) / (normalized.max() - normalized.min())
print(float(normalized_df.mean()))

0.3847939036269795

In [27]:
# 9 - Quantas ocorrências entre -1 e 1 inclusive existem da variáel Purchase após sua padronização? 
# Responda como um único escalar.
normalized = black_friday[['Purchase']]
normalized_std = (normalized - normalized.mean()) / normalized.std()
print(len(normalized_std.query('Purchase >= -1 & Purchase <= 1')))

348631

In [28]:
# 10 - Podemos afirmar que se uma observação é null em Product_Category_2 ela também o é em Product_Category_3? 
# Responda com um bool (True, False).
print(len(black_friday.isna().query('Product_Category_2 == True & Product_Category_3 == False')) == False)

True

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [29]:
def q1():
    q1 = black_friday.shape
    return q1

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [30]:
def q2():
    q2 = len(black_friday.query('Age == "26-35" & Gender == "F"'))
    return int(q2)

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [31]:
def q3():
    q3 = len(black_friday.groupby('User_ID')['User_ID'])
    return int(q3)

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [32]:
def q4():
    q4 = len(black_friday.dtypes.value_counts())
    return int(q4)

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [33]:
def q5():
    q5 = (black_friday.shape[0] - black_friday.dropna().shape[0]) / black_friday.shape[0]
    return float(q5)

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [34]:
def q6():
    q6 = black_friday.isnull().sum().max()
    return int(q6)

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [35]:
def q7():
    q7 = black_friday['Product_Category_3'].mode()
    return int(q7)

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [36]:
def q8():
    normalized = black_friday[['Purchase']]
    normalized_df = (normalized - normalized.min()) / (normalized.max() - normalized.min())
    q8 = normalized_df.mean()
    return float(q8)

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [37]:
def q9():
    normalized = black_friday[['Purchase']]
    normalized_std = (normalized - normalized.mean()) / normalized.std()
    q9 = len(normalized_std.query('Purchase >= -1 & Purchase <= 1'))
    return int(q9)

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [37]:
def q10():
    q10 = len(black_friday.isna().query('Product_Category_2 == True & Product_Category_3 == False')) == False
    return q10